 <div class="panel panel-default">
 <div class="panel-heading"><h3 class="panel-title">Hello Welcome</h3>
  </div>
 <div class="panel-body">
    <h2>Root list of tables</h2>
     <p>Create table navigate to /{your_table}</p>
<hr>
     <p>Tables in database</p>
     {{ tables }}
<ul class="list-unstyled" >
    <li class="li-tables" ng-repeat="root in tables">
      <a href="#!/{{ root }}" class="btn btn-info btn-block">{{ root }}</a>
    </li>

</ul>

     <div>
github sotospez<br>
plus +SotirisPezouvanis
 </div>
</div>
  
</div>
